
.App{
align-items: center;
display: flex;
justify-content: center;
overflow: hidden;
width: 100vw;
height: 100vh;
background-image:url(./images/Group.jpg);
background-size:contain;
}



.Head_ing{
color: rgba(31, 67, 158, 1);
font-weight: 500;
font-size: 3rem;
display: flex;
justify-content: center;
margin-top: 25%;

}

.null_factor{
  color:transparent;
}


.box_col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 70px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.1) 100%);
opacity: 0.8;
border: 0.3px solid #a9c9d6;
backdrop-filter: blur(32.5px);
border-radius: 5px;
  margin: 5px;
  
}
.digit_col{
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
  color: rgba(48, 78, 92, 1);
  text-align: center;
}
.aplha_col{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
color: #304E5C;
text-align: center;

}
.bounce_col{
 display: flex;
 justify-content: center;
}